<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="main">
  <div class="main-menu">
    <div class="main-menu__square"></div>
    <div class="main-menu__title">認知のゆがみ</div>
  </div>
  <div class="main-contents">
    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">概要</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        「認知のゆがみ」とは物事の捉え方にゆがみがある、とされていることです。<br><br>
        認知のゆがみは1976年の心理学者、アーロン・ベックにより提唱されたもので、いくつかのパターンがありますが、ここでは代表的な10項目を紹介します。<br>
        認知のゆがみのパターンは重なり合っている部分もあり、いつもどれかひとつの性質に当てはまるわけではありません。<br><br>
        <ol class="main-contents__lists-sub">
          <li class="main-contents__list-sub">白黒思考</li>
            全か無か、0か1か、と完璧主義的に物事を考える思考パターンです。<br>
            ほとんどの問題には中間がありますが、両極端の見方をしてしまいます。<br>
            完璧に物事をこなさなければ満足できなかったり、相手のちょっとした行動や態度から、良い人だ、悪い人だ、と決めつけてしまいます。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>仕事ですこしの失敗をしたために、「この仕事は完全に失敗だ」と考える。</li>
                  <li>すこしの失敗をした人を見て、「能力のない人だ」と考える。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">過度な一般化</li>
            たった一度起こった出来事でも、次も同じことが起こる、などと考えることです。<br>
            「いつも」「絶対」「決まって◯◯」といった言葉とセットになりやすいです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>一度トラブルが起きただけなのに、「次も絶対トラブルを起こす」と考える。</li>
                  <li>一度読んだ参考書がたまたま有益でなかったから、「参考書なんて絶対に役に立たない」と考える。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">心のフィルター</li>
            良いことがあったとしても、良い面が遮断されてしまい、悪い点だけ目がついてしまうことです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>営業成績が二位なのに、一位ではないから今期は最悪だ、と考える。</li>
                  <li>飲み込みがよく、作業の早い優秀な部下なのに「ブラインドタッチができない」「説明がもたつく」などの、ネガティブな要素しか思い浮かべられない。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">マイナス化思考</li>
            良い出来事があったのに無視するだけでなく、悪い出来事にすり替えてしまうことです。<br>
            心のフィルターと似ていますが、違いがあります。<br>
            心のフィルターは良い面を無視しますが、マイナス化思考は無視するだけではなく、何らかの理由をつけて、良い面の価値を引き下げてとらえてしまいます。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>仕事の能力を褒められても、「まぐれだ」と考え、素直に受け取れない。</li>
                  <li>成果を出しても「こんな仕事は誰でもできる」と、成果を認めることができない。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">結論への飛躍</li>
            根拠がなく、確認もできていないのに、物事をネガティブに決めてつけてしまうことです。 次の2つのパターンがあります。<br><br>
            <ol class="main-contents__lists-sub" type="a">
              <li>
                読心術<br>
                人のちょっとした言動や態度から、相手の考えていることを早合点しまうことです。<br><br>
                <ul class="main-contents__lists-sub">
                  <li type="circle">例
                    <ul class="main-contents__lists-sub">
                      <li>初対面の相手と会話が続きにくかったときに「会話が続かず迷惑をかけてしまった、嫌われたに違いない」と思い込む。
                        （実際は相手とはまだ交流を深めていないので、人となりを伺っているだけかもしれない）</li>
                    </ul>
                 </li>
                </ul>
             <br>
              <li>運命の先読み</li>
                遠い将来のことは誰にもわかりませんが、未来は確実に悪くなると決めつけてしまうことです。<br><br>
                <ul class="main-contents__lists-sub">
                  <li type="circle">例
                    <ul class="main-contents__lists-sub">
                      <li>「仕事をうまくやれることなど一生なく、将来はどうせ窓際族だ」と考える。</li>
                    </ul>
                  </li>
                </ul>
            </ol>
          </li>
          <br>
          <li class="main-contents__list-sub">拡大解釈（破滅化）、過小解釈</li>
            少しの失敗を大げさに悪い方へとらえたり、逆に長所や成功は過小評価することです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>ささいな失敗で「なんて私は駄目なんだ」と考える。</li>
                  <li>他人が成功すると、強く羨望する。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">感情的決めつけ</li>
            自分の感情に基づいて、物事を判断してしまうことです。<br>
            自分がこのように感じるならば、事実でなければならない、という見方をします。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>仕事で「不安を感じている。だから失敗するに違いない」と考える。</li>
                  <li>「このプロジェクトはつまらない。楽しいと思っているチームメンバーはばかだ」と考える。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">べき思考</li>
            ◯◯すべきである、すべきでない、と考え、自分にも相手にも厳しくなる傾向のことです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>「私は上司だから、仕事を効率良くこなすべき」と考える。</li>
                  <li>「仕事に余裕がないとき、楽しそうにしてはならない」と考える。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">レッテル貼り</li>
            ささいな言葉尻だけをとらえたり、たった一度起きたことをきっかけに「自分は使えない人間だ」「あいつは駄目だ」など、自分や相手に対してネガティブなラベリングをしてしまうことです。<br>
            ＜過度の一般化＞が極端に現れた状態ともいえます。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>一度怒られただけで、「私は役に立たない無能だ」と考える。</li>
                  <li>部下の少しのミスを見て、「こいつは頑張らないやつだ」と考える。</li>
                </ul>
              </li>
            </ul>
          <br>
          <li class="main-contents__list-sub">個人化（自己批判、他人批判）</li>
            必ずしも自分の責任ではない場合に、全て自分の責任のように感じ、自分を責めすぎてしまうことです。<br>
            相手に対しても同様に、本当は相手の責任でなくとも責めすぎてしまうこともあります。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>「チームの雰囲気が悪いのは、リーダーの私が全て悪いから」と考える。</li>
                  <li>上司から、レベルに見合わない作業負荷をかけられ、作業の進まない部下に「努力が足りないせい」と考える。</li>
                </ul>
              </li>
            </ul>
        </ol>
        <br>
        以上、代表的な10パターンの認知のゆがみを紹介しました。<br><br>
        認知のゆがみが問題になるのは、ゆがみが少々極端になり、自分を苦しめるほどとなって生活に支障をきたしている場合です。<br>
        少しのべき思考であれば、それほど悪い影響は及ぼしにくいものです。<br>
        少しのべき思考に動かされることは、たとえば強い責任感などに貢献しやすい部分もあるので、個人にとっていつもネガティブに働くとは限りません。<br><br>
        次節では自身の自動思考を分析し、どの認知のゆがみに陥っているのか、検討をするためのツールとして、認知再構成法を説明します。<br>
      </div>
    </div>
    <div class="main-contents__nav-link">
      <%= link_to "＜ 前のページ", content1_page2_work_care_index_path, class:"nav-link_btn" %>
      <%= link_to "次のページ ＞", content1_page4_work_care_index_path, class:"nav-link_btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>