<div class="header">
  <div class="header-main">
    <%=link_to "自分でできる心理療法", root_path, class:"header-title" %>
    <div id="navbar01">
      <div class="navbar" id="navbar-items">
        <div class="navbar__lists">エクササイズ▼</div>
      </div>
      <ul class="navbar-memo hidden" id="navbar-pulldown">
        <%= link_to new_cbt_basic_path do %><li class="pulldown-list">モニタリング</li><% end %>
        <%= link_to new_monitoring_path do %><li class="pulldown-list">認知再構成法</li><% end %>
      </ul>
    </div>
    <div id="navbar02">
      <div class="navbar" id="navbar-items02">
        <div class="navbar__lists">コース▼</div>
      </div>
      <ul class="navbar-memo hidden" id="navbar-pulldown02">
        <%= link_to content1_work_care_index_path do %><li class="pulldown-list">仕事上の悩み</li><% end %>
      </ul>
    </div>
    <!-- <div id="navbar03"> -->
      <!-- <div class="navbar" id="navbar-items03"> -->
      <div class="navbar" id="navbar-items03">
          <%= link_to "メモ一覧", memos_path, class:"navbar__lists" %>
        <!-- <div class="navbar__lists">メモ一覧▼</div> -->
      </div>
      <!-- <ul class="navbar-memo hidden" id="navbar-pulldown03">
        <%= link_to lists_cbt_basics_path do %><li class="pulldown-list">モニタリング</li><% end %>
        <%= link_to lists_monitorings_path do %><li class="pulldown-list">認知再構成法</li><% end %>
      </ul> -->
    <!-- </div> -->
    
  </div>
  <div class="header-user">
    <%if user_signed_in? %>
      <div class="user-logout">
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>
    <% else %>
      <div class="user-login">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
      <div class="user-reg">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
