<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="monitor-lists" id="lists">
  <!-- 統計 -->
  <div class="monitor-statistics-list">
    <div class="monitor-list-content">
      <div class="monitor-list-item">統計</div>
      <div class="monitor-statistics-wrapper">
        <div class="monitor-statistics__negative">
          上位3つのネガティブな感情
          <ol class="monitor-statistics__lists">
            <% @negative_feels.each do |list| %>
              <li>
                <%= list[:negative_feel_name] %>
                :
                <%= list[:count] %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- タグ検索フォーム -->
  <%= search_form_for @q, url: lists_cbt_basics_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="tag-search-field">
    <div class="icon">
      <i class="fa-solid fa-magnifying-glass" style="color:#b9b9b9;"></i>
    </div>
    <%= f.text_field :tags_tag_name, placeholder: "タグで絞り込み", value: params[:q]&.dig(:tags_tag_name), class:"search-field" %>
    <div class="btn">
      <%= f.submit '検索' %>
    </div>
  </div>
  <% end %>

    <!-- 一覧表示 -->
  <%= render partial: 'list', collection: @cbt_basics %>
</div>