<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="monitor-lists">
  <div class="monitor-list">
    <div class="monitor-list-upper">
      <div class="monitor-list__date"><%= @cbt_basic.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      <div class="monitor-list-more">
        <i class="fa-solid fa-chevron-down" style="color: #b9b9b9;"></i>
        <ul class="monitor-list-more__items">
          <%= link_to edit_cbt_basic_path(@cbt_basic.id) do %>
          <li><i class="fa-solid fa-pen" aria-hidden="true"></i> 編集</li>
          <% end %>
          <%= link_to cbt_basic_path(@cbt_basic.id), data:{ turbo_method: :delete } do %>
          <li><i class="fa-regular fa-trash-can" aria-hidden="true"></i> 削除</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">状況</div>
      <div class="monitor-list-text"><%= @cbt_basic.fact %></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">感情</div>
      <div class="monitor-list-text">
        <% @cbt_basic.negative_feels&.each do |feel| %>
          <%= feel.negative_feel_name %>　
        <% end %>
        <br>
        <% @cbt_basic.positive_feels&.each do |feel| %>
          <%= feel.positive_feel_name %>　
        <% end %>
      </div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">思考</div>
      <div class="monitor-list-text"><%= @cbt_basic.mind %></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">身体反応</div>
      <div class="monitor-list-text"><%= @cbt_basic.body %></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">行動</div>
      <div class="monitor-list-text"><%= @cbt_basic.behavior %></div>
    </div>
    <% if @cbt_basic.tags.first.present? %>
    <div class="monitor-list-content">
      <div class="monitor-list-item", id="tag">タグ</div>
      <div class="monitor-list-tags">
        <% @cbt_basic.tags.each do |tag| %>
        <div class="monitor-list-tag"><%= tag.tag_name %></div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <%= link_to "一覧にもどる", memos_path, class:"monitor-show__btn" %>
</div>