<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="main">
  <div class="main-menu">
    <div class="main-menu__square"></div>
    <div class="main-menu__title">階層的認知モデル</div>
  </div>
  <div class="main-contents">
    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">概要</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        前章では認知行動療法の基本モデルを紹介しました。<br>
        認知行動療法には他にもモデルがいくつかあり、ここでは当アプリのエクササイズで使用する、「階層的認知モデル」について説明します。<br><br>
        以下に図を示します。<br><br>
        <%= image_tag "階層的認知モデル.png", class:"content-image" %>
        <br><br>
        前章で認知とは、頭の中に浮かぶ考えと説明しました。<br>
        考えの中には浅いレベルと深いレベルのものがあり、意識に上りやすい思考を「浅い」、意識に上りにくく、奥底にあってとらえにくい思考を「深い」と表現します。<br>
        浅いレベルの認知の方が自分で捕まえやすいものになります。<br>
        一方、深いレベルの認知は無意識下に現れやすく、捕まえにくいものになります。<br>
      </div>
    </div>

    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">自動思考</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        浅いレベルの認知を「自動思考」と呼びます。<br>
        自動的にとっさに頭に流れる思考やイメージ、という意味になります。<br>
        自動思考は空に浮かぶ雲のように、浮かんでは消え、を日常生活の中で繰り返します。<br><br>

        自動思考はポジティブなものからネガティブなもの、ニュートラルなものまで全ての思考が含まれます。<br><br>
        仕事で大きな失敗をしたときは、嵐のように自動思考が頭を埋めるかもしれません。<br>
        たとえば、打ち合わせで失言をし、「やってしまった」「参加者に呆れられる」「何を思って私はこんな発言をしたのか」「上司にフォローされた。能力がないと思われたに違いない」「いつまでたっても私は仕事ができない人間だ」など、自分を責める思考が出てくるかもしれません。<br><br>
        自動思考はラジオのように自動再生されるものなので、普段「今、こう考えている」と意識することはなかなか無いかもしれません。<br>
        しかし意識の表面に上りやすいので、はじめは難しいかもしれませんが、注意してみると捕まえやすいものになります。<br>
      </div>
    </div>

    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">スキーマ</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        意識の表面に上りにくい、その人の信念や価値観、思い込みのことを「スキーマ」と呼びます。<br><br>
        たとえば、前節の打ち合わせの失言の例では、「参加者に呆れられる」「上司にフォローされた。能力がないと思われたに違いない」「いつまでたっても私は仕事ができない人間だ」と、この人は考えていました。<br>
        この場合、この人は自身の能力の低さや、周囲の人にどう見られるかを強く意識しています。<br>
        意識の底にある深い価値観として、次のようなものを持っているかもしれません。<br><br>
        <ul class="main-contents__lists-sub">
          <li>誰かから見下されたくない。人より勝るものがなければ安心できない。</li>
        </ul>
        <br>
        誰もが失言をしたからといって、見下されることを不安になる、とは限りません。<br>
        「モチベーションの上がらない打ち合わせだったから仕方ない」とか、「自分が勝手に思い込んでいるだけかもしれないから、責めても仕方ない」と周囲の人の反応をあまり意識しない場合もあります。<br><br>
        スキーマはひとつとは限らず、この人のスキーマとして、他にも次のようなものもあるかもしれません。<br><br>
        <ul class="main-contents__lists-sub">
          <li>仕事は完璧にこなさくてはいけない。</li>
          <li>何をしても、私は褒められない。</li>
        </ul>
        <br>
        奥底にこのようなスキーマが根付いているので、生活の色々な場面で思考に干渉し、周囲の人と比較するような劣等感を生む思考が浮かび上がりやすくなるのです。<br><br>

        打ち合わせで失言をした、という状況に対して落ち込むのは自然な反応に見えますが、見下される不安を伴う自動思考が出る背景には、その人なりのスキーマ（信念、思い込み）が介在しているのです。<br><br>

        基本モデルでは個人の体験を、<br>
        ＜認知＞＜気分・感情＞＜身体反応＞＜行動＞
        <br>の四つに分けて考え、変えることができやすい＜認知＞＜行動＞にアプローチしました。<br><br>
        ここで、＜認知＞とは自動思考とみなしてもらって構いません。<br>
        基本モデルでは捕まえやすい自動思考から、＜認知＞を理解していきます。<br><br>
        しかし、自動思考レベルでは個人の体験を理解しにくい場合や、深い認知が介在していると考えられる場合には、「階層的認知モデル」を活用していきます。<br><br>

        スキーマはその人の生まれ育った環境、幼少期の生い立ち、大人になるまでの体験から形づくられるものです。<br>
        スキーマは大人になる過程で身を守るために、必要に差し迫られてできあがった面もあります。<br>
        防衛反応として出ている部分があるので、スキーマに動かされないようにすることは難しいです。<br>
        そもそも自身にどんなスキーマがあるのか？ と気づくことにも難しさがあります。<br>
        スキーマに気づいたとしても、動かされないようにすることは、たとえ頭でわかっていても困難が伴います。<br><br>

        古いたとえですが、自動思考とスキーマは「氷山の一角」のような関係です。<br>
        氷山は海に沈んでいて、表に出ている部分と出ていない部分があります。<br>
        表に出ている部分を自動思考、沈んでいる部分をスキーマととらえることができます。<br>
        スキーマは沈んでいて見えないので、普段はなかなか意識しにくいものです。<br>
        しかし、自動思考というスキーマのきっかけになる部分は表に浮かび上がっています。<br><br>
        自動思考をもとにして、奥底にあるスキーマを外に出すことで、より自己理解を深め、生きづらさの正体を掘り下げていきます。<br>
        <%= image_tag "氷山の一角.png", class:"content-image" %>
        <br><br>
        次節では、スキーマの一例として「認知のゆがみ」を紹介します。<br>
      </div>
    </div>
    <div class="main-contents__nav-link">
      <%= link_to "＜ 前のページ", content1_page1_work_care_index_path, class:"nav-link_btn" %>
      <%= link_to "次のページ ＞", content1_page3_work_care_index_path, class:"nav-link_btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>